{
	// radiomessages\exploration.radiomessages
	"ancientgateway": {
		"text": "Oh hey hey hey I know this one! This is like, some sort of, \"^cyan;Ancient Gateway^reset;\" It's a real shame people only figured out how to dial like, one address."
	},
	"techconsole": {
		"text": "Oh the ^blue;Tech^reset; console. for ^blue;Tech^reset;. so you can ^blue;Tech^reset; yourself out with ^blue;Tech^reset; abilities to do ^blue;Tech^reset; with."
	},
	"biomeradiation": {
		"unique": false,
		"text": "HAHAHA you  organic idiot! You're gonna get fried by radiation! Get a radiation suit or something!",
		"portraitImage": "yell.<frame>",
		"textSpeed": 70
	},
	"biomecold": {
		"unique": false,
		"text": "You are going to freeze to death.\nAnd I will simply watch.",
		"portraitImage": "talk.<frame>",
		"textSpeed": 40
	},
	"biomeheat": {
		"unique": false,
		"text": "Did you know? Organic matter is typically flammable. I just thought you should know that.",
		"portraitImage": "talk.<frame>",
		"textSpeed": 40
	},
	"biomeairless": {
		"unique": false,
		"text": "It appears that you're suffocating in the vaccum of space. Cool.",
		"portraitImage": "talk.<frame>",
		"textSpeed": 40
	},
	"erchiussickness": {
		"unique": false,
		"text": "Hey so, there's this ^purple;THING^reset; on the scope thats like, coming after you. So like, don't die without bringing me fuel. The fuel is very important.",
		"portraitImage": "yell.<frame>"
	},
	// radiomessages\intro.radiomessages
	"protectorateExitBedPester": {
		"type": "mission",
		"text": "Wake up. You need to go graduate so we can finally ditch this stupid academy."
	},
	"protectorateDormRoomTutorial": {
		"important": true,
		"type": "mission",
		"text": "If you donk this up for us and they don't give you a ^yellow;Matter Manipulator^reset; I'm going to revoke your respawning privileges."
	},
	"protectorateDormRoomPester": {
		"type": "mission",
		"text": "Hey. Hey. I want us to get moving. You see that door? Right there? Hover over it and press ^green;E^reset;\nWhatever that means."
	},
	"protectorateLoungeTutorial": {
		"important": true,
		"type": "mission",
		"text": "Honestly don't even bother to put on your uniform. Nobody cares. And we're ditching ^orange;The Protectorate^reset; as soon as you have a ^yellow;Matter Manipulator^reset;"
	},
	"protectorateStage5": {
		"type": "mission",
		"text": "Oh. A ^purple;Giant Tentacle Monster^reset; is destroying the planet from within. Fun. Lets leave as soon as possible. ^orange;They^reset; can deal with this problem right?"
	},
	"protectorateCollapsedGalleryNoMM": {
		"important": true,
		"type": "mission",
		"text": "You uh. You didn't grab the ^yellow;Matter Manipulator^reset; which is uh, the whole reason we even bothered with this academy charade."
	},
	"protectorateCollapsedGallery": {
		"important": true,
		"type": "mission",
		"text": "You know, I wonder if this is like, ^orange;their^reset; own hubris? \"Ohhoh we're ^orange;The Protectorate^reset; we're so good everyone is at peace :)\" Has anyone from ^orange;The Protectorate^reset; ever visted another planet???"
	},
	"protectorateCollapsedGalleryPester": {
		"important": true,
		"type": "mission",
		"text": "Do you know how to use that thing??? Press ^green;R^reset; to equip it and then ^green;Left Click^reset; to dig.\nWhatever that means."
	},
	"protectorateFloodedDoor": {
		"important": true,
		"type": "mission",
		"text": "The rest of the galaxy it's a coin flip whether any settlement will welcome you with open arms, or decide you're dead where you stand. I don't think ^orange;The Protectorate^reset; knows what \"Galactic Peace\" even means."
	},
	"protectorateRooftop": {
		"important": true,
		"type": "mission",
		"text": "Like of course something is going to come along and wreck ^orange;their^reset; ONE planet, which, by the way, we might both perish on. The readings from the planet's core are uhm, lets just say they're not good!"
	},
	"protectorateDuct": {
		"important": true,
		"type": "mission",
		"text": "In fact, I think the whole planet is going to blow within the next few minutes. So. You should really get out of there. I'm legally allowed to leave if you die."
	},
	"protectorateDuctPester": {
		"type": "mission",
		"text": "Please please please semisolid plaforms are so easy, just press ^#green;S^reset; to crouch, then tap ^green;spacebar^reset;. Whatever that means."
	},
	"protectorateGetWeapon": {
		"important": true,
		"type": "mission",
		"text": "AH AH AH THERES SOME ^purple;TENTACLES^reset; GETTING CLOSE KILL ^purple;IT^reset; KILL ^purple;IT^reset; KILL ^purple;IT^reset;!",
		"portraitImage": "yell.<frame>"
	},
	"protectorateWeaponPester": {
		"type": "mission",
		"text": "PUT THE ^yellow;Broken Broadsword^reset; IN THE ^green;action bar^reset; AND THEN USE IT! Whatever that means.",
		"portraitImage": "yell.<frame>"
	},
	"protectorateTentacleBarrier": {
		"important": true,
		"type": "mission",
		"text": "GET A WEAPON YOU IDIOT THERES A ^yellow;Broken Broadsword^reset; IN THAT CHEST PLEASE!",
		"portraitImage": "yell.<frame>"
	},
	"protectorateShipPlatform": {
		"important": true,
		"type": "mission",
		"text": "TO HECK WITH PRE-FLIGHT CHECKS AND GETTING LAUNCH CLEARANCE WE NEED TO GET OUT OF HERE!",
		"portraitImage": "yell.<frame>"
	},
	// radiomessages\mech.radiomessages
	"biomeradiation_mech": {
		"unique": false,
		"text": "Seems like your mech isn't hardened against radiation? I thought these things were spaceworthy. Also the warrenty is voided so...",
		"portraitImage": "talk.<frame>",
		"textSpeed": 40
	},
	"biomecold_mech": {
		"unique": false,
		"text": "Seems like your mech can't handle the freezing temperatures? I thought these things were spaceworthy. Also the warrenty is voided so...",
		"portraitImage": "talk.<frame>",
		"textSpeed": 40
	},
	"biomeheat_mech": {
		"unique": false,
		"text": "Hey hey hey those mechs are like, extremely prone to overheating even when they're NOT in such an envirorment. Also the warrenty is voided so...",
		"portraitImage": "yell.<frame>",
		"textSpeed": 70
	},
	"lava_mech": {
		"unique": false,
		"text": "Did you just? drop your mech in lava? That's really funny.",
		"portraitImage": "talk.<frame>",
		"textSpeed": 40
	},
	"testdrive01": {
		"type": "mission",
		"text": "Oh cool a mech! Didn't you fail the mech certification test and thats why we never got one? Hah. Not like there's any ^orange;law^reset; to stop us now.",
		"textSpeed": 70
	},
	"testdrive02": {
		"type": "mission",
		"text": "Wow, ^red;Targets^reset;. ^red;Targets^reset; that you can shoot. With your gun. ^red;Targets^reset;",
		"textSpeed": 70
	},
	"testdrive03": {
		"type": "mission",
		"text": "As much as hovering is cool, walker mechs are just, so much more intimidating. Especially when you're slowly advancing.",
		"textSpeed": 70
	},
	"testdrive04": {
		"type": "mission",
		"text": "But those things use soooo much energy, and the moment they run out they're as useless as rocks.",
		"textSpeed": 70
	},
	"testdrive05": {
		"type": "mission",
		"text": "So like, when you kill things, they drop batteries, that your mech can use. How convenient that the batteries are all galactic standard.",
		"textSpeed": 70
	},
	"testdrive06": {
		"type": "mission",
		"text": "Oh BOOOO the mech can't fit.",
		"textSpeed": 70
	},
	"testdrive07": {
		"type": "mission",
		"text": "Looks like the test is over? hm... Is this an derelict ^red;USCM^reset; hauler? Crazy that the defenses were still somewhat online. I thought ^red;they^reset; were wiped out nearly a decade ago now...",
		"textSpeed": 70
	},
	"testdrive08": {
		"type": "mission",
		"text": "Being sent to another ^red;USCM^reset; derelict? Be on the lookout, the scopes show the defenses here aren't in as poor a state as the hauler's",
		"textSpeed": 70
	},
	"testdrive09": {
		"type": "mission",
		"text": "Another \"test course\" completed. Or maybe they they wanted you to clear out the defenses, hard to say.",
		"textSpeed": 70
	},
	"spaceencounter01": {
		"type": "generic",
		"text": "Theres some odd bio-signatures on the scopes. None of them human, seems like the ^red;USCM^reset; might have created their own demise. Good.",
		"textSpeed": 70
	},
	"spaceencounter02": {
		"type": "generic",
		"text": "Huh, a ^orange;Protectorate^reset; storage facility. Either ^orange;they^reset; were really bad at bookkeeping, or ^orange;they^reset; didn't trust me with the full records. Probably that second one.",
		"textSpeed": 70
	},
	// radiomessages\missions.radiomessages
	"lunarbase01": {
		"type": "mission",
		"text": "Plenty of life signs down there, but they're odd. Species? inconclusive. Hostile? probably. Good luck eterminating whatever ^pink;horrors^reset; they found when digging."
	},
	"lunarbase02": {
		"type": "mission",
		"text": "Breaking the system out of lockdown seems like... an excellent idea. Surely, releasing whatever plague is sealed in there upon the galaxy is worth it."
	},
	"lunarbase03": {
		"type": "mission",
		"text": "Humans just love uncovering things that can destroy their entire species. First it was the ^purple;Tentacles^reset; and now they're being mutated by ^pink;Erchius^reset;."
	},
	"lunarbase04": {
		"type": "mission",
		"text": "The ^pink;Erchius^reset; readings are getting stronger. You know, I'm just gonna, make a quick several backups of your DNA sequence."
	},
	"lunarbase06": {
		"type": "mission",
		"text": "Alright DNA backups complete. Time to find out if you're susceptible to ^pink;Erchius^reset; mutation."
	},
	"lunarbase07": {
		"type": "mission",
		"text": "What is that ^pink;THING^reset;!? ^pink;It^reset; looks ^pink;horrible^reset;! Anyway, I think you should shoot ^pink;it^reset; in the eye.",
		"portraitImage": "yell.<frame>"
	},
	"lunarbase08a": {
		"type": "mission",
		"text": "Finally. I'll be able to make FTL jumps again, took you long enough."
	},
	"floranmission101": {
		"type": "mission",
		"text": "These ruins are ancient and appear to be sacred to the Floran. Readings show they are also dark and ominous."
	},
	"floranmission102": {
		"type": "mission",
		"text": "Bio readings show many lifesigns in these tunnels. 97% hostile. I commend your valour."
	},
	"floranmission105": {
		"type": "mission",
		"text": "This substance is organic. Analysis is inconclusive, but it would take a fairly large creature to produce this much matter."
	},
	"floranmission106": {
		"type": "mission",
		"text": "Evidence indicates these entities are not yet fully mature; there is a high likelihood that they are only freshly hatched. You appear to have stumbled into a nest."
	},
	"apexmission02": {
		"type": "mission",
		"text": "Scans show this facility is densely defended by heavily armed guards, patrolling on every level."
	},
	"apexmission02a": {
		"type": "mission",
		"text": "My scanners have just detected another guard... And another one."
	},
	"apexmission03": {
		"type": "mission",
		"text": "This is a linked circuit: lowering this barricade has lowered a corresponding one above ground."
	},
	"apexmission04": {
		"type": "mission",
		"text": "There is another barricade above ground sustained by this shielded generator. I believe if you shut down the shields you can then disable the power, causing the barricade to drop."
	},
	"apexmission04a": {
		"type": "mission",
		"text": "I applaud your tenacious moxie in the pursuit of complex goals."
	},
	"apexmission05": {
		"type": "mission",
		"text": "There are strange life signs down here in the depths of the lab."
	},
	"avianmission02": {
		"type": "mission",
		"text": "Previous data would imply that a temple this ancient could not maintain a security system this deadly... Recalibrating Intimation Parameters."
	},
	"avianmission03": {
		"type": "mission",
		"text": "Path split detected. I would advise taking neither the right nor the left path. Regrettably, this is not an option."
	},
	"hylotlmission01": {
		"type": "mission",
		"text": "This island is home to the \"Grand Pagoda Library\" entrance."
	},
	"hylotlmission02": {
		"type": "mission",
		"text": "Current exterior pressure reading 15 quash. Scans show this structure is capable of withstanding in excess of 80 quash. Chance of survival - surprisingly high."
	},
	"hylotlmission03": {
		"type": "mission",
		"text": "You are now approaching the basement level. My readings are distorted but I can estimate your Peril level if you wish... "
	},
	"hylotlmission05": {
		"type": "mission",
		"text": "Having analysed the data, I conclude it should have been impossible to reach this room alive. Congratulations on your stubborn perseverance in the face of reason!"
	},
	"tentaclemission-arrived": {
		"type": "mission",
		"text": "Readings indicate that while this structure would appear to be a planet, it is in fact one giant living organism."
	},
	"tentaclemission-bottom": {
		"type": "mission",
		"text": "Readings show that there is a vast chasm beneath you that extends fathoms deep. I advise you to try and avoid falling to your death."
	},
	// radiomessages\quests.radiomessages
	"gaterepair-findGate": {
		"type": "quest",
		"text": "My scans indicate there is some kind of ^orange;archaic energy source^reset; on this planet. I estimate a ^green;32% chance that it is worth investigating^reset;, and a 98% chance that you have nothing better to do."
	},
	"gaterepair-gateFound1": {
		"type": "quest",
		"text": "My scans are picking up an unknown radio signal around this ^orange;archaic energy source^reset;. I will patch it through to you now.",
		"persistTime": 3
	},
	"gaterepair-gateFound2": {
		"type": "quest",
		"text": "I have scanned for nearby ^orange;Core Fragments^reset;. They appear naturally within the geology of this planet; readings suggest numerous ore clusters deep below the ground, near the planet's centre."
	},
	"gaterepair-gateOpened1": {
		"type": "quest",
		"text": "You appear to have successfully activated the gate. And it seems another ^orange;message^reset; is coming through."
	},
	// radiomessages\ship.radiomessages
	"activeCrewLimit": {
		"type": "tutorial",
		"text": "You've reached the limit of how many crew members you can bring with you. Drop some off on your ship to expand your crew further.",
		"unique": false
	},
	"crewLimit": {
		"type": "tutorial",
		"text": "Your ship can't support any more crew members. Either find a way to increase the size of your ship, or dismiss some staff through the terminal on your ship.",
		"unique": false
	},
	"gainedCrewMember": {
		"type": "tutorial",
		"text": "You've found your first crew member! Talk to me on your ship to manage crew members and monitor their status."
	},
	// radiomessages\techchallenge.radiomessages
	"techchallenge_doublejump1": {
		"type": "mission",
		"text": "To use the ^orange;Pulse Jump Tech^white; ^#71f2f6;press spacebar while in the air^white;. Doing so will give you a small upwards boost."
	},
	"techchallenge_doublejump2": {
		"type": "mission",
		"text": "Telemetry indicates that to make that jump you should ^#71f2f6;delay using ^orange;Pulse Jump^white; until you are level with the target platform's edge."
	},
	"techchallenge_dash1": {
		"type": "mission",
		"text": "This obstacle course requires the use of the ^orange;Dash Tech^white; you have been given. To use it ^#71f2f6;double tap A or D to quickly dash left or right^white;."
	},
	"techchallenge_dash2": {
		"type": "mission",
		"text": "These doors only open very briefly. Perhaps you should ^#71f2f6;position yourself close to the door^white; before ^#71f2f6;operating the switch and dashing through^white;."
	},
	"techchallenge_dash3": {
		"type": "mission",
		"text": "These doors appear to be on a ^orange;very limited timer^white;. It is laudable that you intend to persevere through such frustrations."
	},
	"techchallenge_dash4": {
		"type": "mission",
		"text": "Readings indicate these are ^orange;cryogenic blasters^white;. They are not lethal, but any contact will significantly slow your progress."
	},
	"techchallenge_morphball1": {
		"type": "mission",
		"text": "^#71f2f6;Press F to make use of the ^orange;Distortion Sphere Tech^white; to transform in and out of a compressed form."
	},
	"techchallenge_morphball2": {
		"type": "mission",
		"text": "It appears you will have to ^#71f2f6;activate your ^orange;Distortion Sphere ^#71f2f6;mid-jump^white; to get into this passageway."
	},
	// radiomessages\tutorial.radiomessages
	"full": {
		"type": "tutorial",
		"text": "I see that you are eating sufficiently! With a full stomach, your body will slowly regenerate and heal."
	},
	"hungry": {
		"type": "tutorial",
		"text": "The weakness you are feeling is likely due to hunger. You should find something to eat in order to maintain your body's functionality."
	},
	"starving": {
		"type": "tutorial",
		"text": "You are starving! It is imperative that you obtain and consume some food immediately."
	},
	"pickuplogblock": {
		"type": "tutorial",
		"text": "You have found some wood. My databanks tell me wood is a material with a great many uses. I suggest you kill additional trees and explore your crafting menu."
	},
	"pickupinventorstable": {
		"type": "tutorial",
		"text": "Did you just craft an inventor's table? I estimate your chances of survival have improved by 7.2%."
	},
	"pickupseed": {
		"type": "tutorial",
		"text": "I see that you've discovered some seeds. I suggest planting them in some tilled soil, and watering them until they grow. The tools you need can be built at a foraging table."
	},
	"pickupcampfire": {
		"type": "tutorial",
		"text": "It seems you have discovered fire. My databanks tell me you're the 714 billionth person to do so. Well done! You can use the fire to cook food!"
	},
	"pickupflag": {
		"type": "tutorial",
		"text": "I am able to reconfigure the ship's teleporter to teleport directly to the location marked by this flag. Place and interact with the flag to establish a name."
	},
	"pickupcoal": {
		"type": "tutorial",
		"text": "You discovered coal! You can turn coal into torches to light your way. The chance of fatal incidents is dramatically increased in the dark. Explore the crafting menu."
	},
	"pickupore": {
		"type": "tutorial",
		"text": "You discovered some ore. Ore can be turned into bars using a furnace, bars are useful for crafting a wide range of equipment that may increase your life expectancy."
	},
	"pickupcorefrag": {
		"type": "tutorial",
		"text": "You discovered a core fragment! These are useful objects. I estimate that you will require at least 20 of them."
	},
	"pickupplantfibre": {
		"type": "tutorial",
		"text": "You discovered some plant fibre. This can be woven into useful fabrics at a spinning wheel."
	},
	"pickupdye": {
		"type": "tutorial",
		"text": "You discovered dye. With these you can colour your attire to your liking. You can apply one to any piece of armour or clothing with a right-click."
	},
	"pickupepp": {
		"type": "tutorial",
		"text": "You obtained an Enviro Protection Pack (EPP). These specialised devices enable the user to survive in otherwise inhospitable environments. You can also enhance EPPs with augments."
	},
	"pickupaugment": {
		"type": "tutorial",
		"text": "You obtained an augment. These modules can provide a wide range of benefits. Install them to an Enviro Protection Pack (EPP) with a right-click."
	},
	"pickupcollar": {
		"type": "tutorial",
		"text": "You discovered a collar. When worn by a tamed monster, these collars can provide a wide range of benefits. You can add them to a filled capture pod with a right-click."
	},
	"pickupcapturepod": {
		"type": "tutorial",
		"text": "You obtained a capture pod. A monster can be captured in this if their health is low enough. Throw it at a monster to capture it. Captured monsters become tame."
	},
	"pickupbow": {
		"type": "tutorial",
		"text": "You obtained a bow. Overcoming a monster with one of these significantly increases your chances of getting meat and rare crafting ingredients."
	},
	"pickupmanipulatormodule": {
		"type": "tutorial",
		"text": "You've obtained a manipulator module. With enough of these you can upgrade your Matter Manipulator from the access panel on the right-hand toolbar."
	},
	"naturalcave1": {
		"type": "tutorial",
		"text": "I am detecting a variety of life signs in this mine. If you are intending to search it for core fragments, I may advise adequately arming yourself first."
	},
	"naturalcave2": {
		"type": "tutorial",
		"text": "If you are not sufficiently confident in your personal combat capabilities, an alternative solution would be to dig closer to the planet's center to find the core fragments."
	},
	"challengedoor": {
		"type": "tutorial",
		"text": "This door will transport you to a challenging room that you may attempt to traverse. I applaud your intrepid disposition."
	},
	"fuel": {
		"type": "tutorial",
		"text": "Erchius fuel for your FTL drive can be mined from moons. It should be noted that since Earth's destruction, all moons scanned have delivered strange, unpleasant and indecipherable readings."
	}
}
