{
	// radiomessages\exploration.radiomessages
	"ancientgateway": {
		"text": "Ancient ruins such as this can be found throughout the galaxy. I'm detecting a spatial anomaly nearby... Perhaps some form of teleportation device?"
	},
	"techconsole": {
		"text": "The console in this room is configured to alter the Tech abilities you have equipped. Interacting with it will allow you to install new Tech."
	},
	"biomeradiation": {
		"unique": false,
		"text": "WARNING! RADIATION LEVELS ON THIS PLANET ARE EXTREMELY HAZARDOUS!\nYou should not attempt further exploration without proper protective equipment!",
		"portraitImage": "yell.<frame>",
		"textSpeed": 70
	},
	"biomecold": {
		"unique": false,
		"text": "WARNING! TEMPERATURE ON THIS PLANET IS DANGEROUSLY LOW!\nYou should not attempt further exploration without proper protective equipment!",
		"portraitImage": "yell.<frame>",
		"textSpeed": 70
	},
	"biomeheat": {
		"unique": false,
		"text": "WARNING! TEMPERATURE ON THIS PLANET IS DANGEROUSLY HIGH!\nYou should not attempt further exploration without proper protective equipment!",
		"portraitImage": "yell.<frame>",
		"textSpeed": 70
	},
	"biomeairless": {
		"unique": false,
		"text": "It may be worth noting that this location has no atmosphere and that you are slowly suffocating. I suggest you leave, and return when you have crafted a breathing EPP.",
		"textSpeed": 70
	},
	"erchiussickness": {
		"unique": false,
		"text": "I am detecting entities attracted by the moon's erchius deposits. Their interest in you will grow as you collect more fuel. I would define these entities as 'intractably deadly'. I salute your fearlessness."
	},
	// radiomessages\intro.radiomessages
	"protectorateExitBedPester": {
		"type": "mission",
		"text": "Good morning graduate! You have overslept. ^#71f2f6;Press A or D to get out of bed^white;."
	},
	"protectorateDormRoomTutorial": {
		"important": true,
		"type": "mission",
		"text": "To interact with a nearby person, door, or other object, you should ^#71f2f6;hover over it with your cursor and press E^white;, if you are awake enough to do so."
	},
	"protectorateDormRoomPester": {
		"type": "mission",
		"text": "Remember, you can open a door by ^#71f2f6;hovering over it with your cursor and pressing E^white;."
	},
	"protectorateLoungeTutorial": {
		"important": true,
		"type": "mission",
		"text": "Your uniform is available to collect from your personal locker... It is quite impressive that you can remain so serene when you are running so late. Well done you."
	},
	"protectorateStage5": {
		"type": "mission",
		"text": "It is not safe to remain here! ^#71f2f6;Please take the Matter Manipulator^white;. You must proceed to the shuttle pad!"
	},
	"protectorateCollapsedGalleryNoMM": {
		"important": true,
		"type": "mission",
		"text": "Take the Matter Manipulator dropped by the Grand Protector - it will be essential to your survival!"
	},
	"protectorateCollapsedGallery": {
		"important": true,
		"type": "mission",
		"text": "It appears the ceiling has collapsed. The Matter Manipulator can be used to clear this dirt. ^#71f2f6;Press the R key to equip it^white;, then click and hold on the pile of dirt to dig through it."
	},
	"protectorateCollapsedGalleryPester": {
		"important": true,
		"type": "mission",
		"text": "You can get past this dirt using your Matter Manipulator. ^#71f2f6;Press the R key to equip it^white;."
	},
	"protectorateFloodedDoor": {
		"important": true,
		"type": "mission",
		"text": "Scans show the room beyond this door has flooded. It would be best not to go in... I advise you find a way over it - ^#71f2f6;use spacebar to jump^white; up to higher platforms."
	},
	"protectorateRooftop": {
		"important": true,
		"type": "mission",
		"text": "The scale of this disaster is immeasurable; the destruction occurring is beyond my capacity to quantify. You must leave this planet immediately."
	},
	"protectorateDuct": {
		"important": true,
		"type": "mission",
		"text": "To jump down from a platform like this you should ^#71f2f6;hold S to crouch then tap spacebar^white;."
	},
	"protectorateDuctPester": {
		"type": "mission",
		"text": "We are running out of time. I advise that you drop down through this platform by ^#71f2f6;holding S to crouch, then tapping spacebar^white;."
	},
	"protectorateGetWeapon": {
		"important": true,
		"type": "mission",
		"text": "The chest sitting on that conveyor belt should contain some kind of weapon. Please arm yourself!"
	},
	"protectorateWeaponPester": {
		"type": "mission",
		"text": "Access a weapon with ease by ^#71f2f6;placing it in one of the action bar slots^white; at the top of the screen, then ^#71f2f6;pressing the corresponding number key to equip^white; or unequip it."
	},
	"protectorateTentacleBarrier": {
		"important": true,
		"type": "mission",
		"text": "You will need to destroy that tentacle in order to reach the shuttle. I suggest you retrieve a weapon from that chest."
	},
	"protectorateShipPlatform": {
		"important": true,
		"type": "mission",
		"text": "I have bypassed the preflight checks. Get aboard!"
	},
	// radiomessages\mech.radiomessages
	"biomeradiation_mech": {
		"unique": false,
		"text": "WARNING: Your vehicle is not certified for this environment!\nDisregarding this warning may cause pilot death and/or invalidation of vehicle warranty.",
		"portraitImage": "yell.<frame>",
		"textSpeed": 70
	},
	"biomecold_mech": {
		"unique": false,
		"text": "WARNING: Your vehicle is not certified for this environment!\nDisregarding this warning may cause pilot death and/or invalidation of vehicle warranty.",
		"portraitImage": "yell.<frame>",
		"textSpeed": 70
	},
	"biomeheat_mech": {
		"unique": false,
		"text": "WARNING: Your vehicle is not certified for this environment!\nDisregarding this warning may cause pilot death and/or invalidation of vehicle warranty.",
		"portraitImage": "yell.<frame>",
		"textSpeed": 70
	},
	"lava_mech": {
		"unique": false,
		"text": "DANGER! Your mech's temperature control systems are failing! Evacuate immediately!",
		"portraitImage": "yell.<frame>",
		"textSpeed": 70
	},
	"testdrive01": {
		"type": "mission",
		"text": "You are now suspended in a zero-gravity environment. The mech you are piloting is designed to travel through space - I would strongly advise that you do not attempt to exit the vehicle for now.",
		"textSpeed": 70
	},
	"testdrive02": {
		"type": "mission",
		"text": "These targets can be destroyed with your mech's primary weapon. My probability matrix has concluded that destroying them may allow you to progress.",
		"textSpeed": 70
	},
	"testdrive03": {
		"type": "mission",
		"text": "Your mech switches to a ground-movement configuration when in an environment with gravity. I would advise you continue to proceed in your mech.",
		"textSpeed": 70
	},
	"testdrive04": {
		"type": "mission",
		"text": "Please be aware of your mech's energy reserves, visualised as the ^#60b8ea;blue bar^white; you can see above your vehicle. Your mech's energy will deplete over time or when the vehicle takes damage.",
		"textSpeed": 70
	},
	"testdrive05": {
		"type": "mission",
		"text": "Hostile entities also exist in zero-gravity environments. My cosmonautical records indicate that defeating them may result in obtaining an energy battery, which your mech can absorb.",
		"textSpeed": 70
	},
	"testdrive06": {
		"type": "mission",
		"text": "The mech is too large to continue through this area. ^#71f2f6;Press E to enter and exit the mech^white; - I advise that you proceed on foot.",
		"textSpeed": 70
	},
	"testdrive07": {
		"type": "mission",
		"text": "^green;You appear to have completed Dr. Akaggy's test course^white;. I must declare that I am curious as to how such a large ship came to be abandoned, but my records present no conclusion.",
		"textSpeed": 70
	},
	"testdrive08": {
		"type": "mission",
		"text": "Initial environmental scans indicate that this area is particularly hazardous, even when in a mech. Caution is advised.",
		"textSpeed": 70
	},
	"testdrive09": {
		"type": "mission",
		"text": "This teleporter indicates that ^green;you have completed Dr. Akaggy's advanced test course^white;. You should report back to her.",
		"textSpeed": 70
	},
	"spaceencounter01": {
		"type": "generic",
		"text": "I am recieving some unusual bio-signatures on this ship. Sufficient caution is recommended.",
		"textSpeed": 70
	},
	"spaceencounter02": {
		"type": "generic",
		"text": "This appears to be an old Terrene Protectorate Storage Facility. No such place exists on my records.",
		"textSpeed": 70
	},
	// radiomessages\missions.radiomessages
	"lunarbase01": {
		"type": "mission",
		"text": "All life readings emanate from a great depth below the surface. The readings are... Difficult to define. Congratulations in advance for your courage."
	},
	"lunarbase02": {
		"type": "mission",
		"text": "It appears lockdown has been instigated. You must locate a breaker to restore full power. Please proceed with caution in conditions of low light."
	},
	"lunarbase03": {
		"type": "mission",
		"text": "I detect both Erchius chemical signatures and human DNA in these entities. High likelihood of behavioural volatility predicted."
	},
	"lunarbase04": {
		"type": "mission",
		"text": "Erchius readings have reached 94 rad. You are in peril. Your Peril level is currently 14,607 morts."
	},
	"lunarbase06": {
		"type": "mission",
		"text": "Erchius readings have reached 101 rad. Your current Peril level is 18,472 morts..."
	},
	"lunarbase07": {
		"type": "mission",
		"text": "Conventional weapons have an estimated 0% chance of damaging the Erchius crystal. You are invited to devise another means of attack."
	},
	"lunarbase08a": {
		"type": "mission",
		"text": "There is enough Erchius here to fully repair the ship."
	},
	"floranmission101": {
		"type": "mission",
		"text": "These ruins are ancient and appear to be sacred to the Floran. Readings show they are also dark and ominous."
	},
	"floranmission102": {
		"type": "mission",
		"text": "Bio readings show many lifesigns in these tunnels. 97% hostile. I commend your valour."
	},
	"floranmission105": {
		"type": "mission",
		"text": "This substance is organic. Analysis is inconclusive, but it would take a fairly large creature to produce this much matter."
	},
	"floranmission106": {
		"type": "mission",
		"text": "Evidence indicates these entities are not yet fully mature; there is a high likelihood that they are only freshly hatched. You appear to have stumbled into a nest."
	},
	"apexmission02": {
		"type": "mission",
		"text": "Scans show this facility is densely defended by heavily armed guards, patrolling on every level."
	},
	"apexmission02a": {
		"type": "mission",
		"text": "My scanners have just detected another guard... And another one."
	},
	"apexmission03": {
		"type": "mission",
		"text": "This is a linked circuit: lowering this barricade has lowered a corresponding one above ground."
	},
	"apexmission04": {
		"type": "mission",
		"text": "There is another barricade above ground sustained by this shielded generator. I believe if you shut down the shields you can then disable the power, causing the barricade to drop."
	},
	"apexmission04a": {
		"type": "mission",
		"text": "I applaud your tenacious moxie in the pursuit of complex goals."
	},
	"apexmission05": {
		"type": "mission",
		"text": "There are strange life signs down here in the depths of the lab."
	},
	"avianmission02": {
		"type": "mission",
		"text": "Previous data would imply that a temple this ancient could not maintain a security system this deadly... Recalibrating Intimation Parameters."
	},
	"avianmission03": {
		"type": "mission",
		"text": "Path split detected. I would advise taking neither the right nor the left path. Regrettably, this is not an option."
	},
	"hylotlmission01": {
		"type": "mission",
		"text": "This island is home to the \"Grand Pagoda Library\" entrance."
	},
	"hylotlmission02": {
		"type": "mission",
		"text": "Current exterior pressure reading 15 quash. Scans show this structure is capable of withstanding in excess of 80 quash. Chance of survival - surprisingly high."
	},
	"hylotlmission03": {
		"type": "mission",
		"text": "You are now approaching the basement level. My readings are distorted but I can estimate your Peril level if you wish... "
	},
	"hylotlmission05": {
		"type": "mission",
		"text": "Having analysed the data, I conclude it should have been impossible to reach this room alive. Congratulations on your stubborn perseverance in the face of reason!"
	},
	"tentaclemission-arrived": {
		"type": "mission",
		"text": "Readings indicate that while this structure would appear to be a planet, it is in fact one giant living organism."
	},
	"tentaclemission-bottom": {
		"type": "mission",
		"text": "Readings show that there is a vast chasm beneath you that extends fathoms deep. I advise you to try and avoid falling to your death."
	},
	// radiomessages\quests.radiomessages
	"gaterepair-findGate": {
		"type": "quest",
		"text": "My scans indicate there is some kind of ^orange;archaic energy source^reset; on this planet. I estimate a ^green;32% chance that it is worth investigating^reset;, and a 98% chance that you have nothing better to do."
	},
	"gaterepair-gateFound1": {
		"type": "quest",
		"text": "My scans are picking up an unknown radio signal around this ^orange;archaic energy source^reset;. I will patch it through to you now.",
		"persistTime": 3
	},
	"gaterepair-gateFound2": {
		"type": "quest",
		"text": "I have scanned for nearby ^orange;Core Fragments^reset;. They appear naturally within the geology of this planet; readings suggest numerous ore clusters deep below the ground, near the planet's centre."
	},
	"gaterepair-gateOpened1": {
		"type": "quest",
		"text": "You appear to have successfully activated the gate. And it seems another ^orange;message^reset; is coming through."
	},
	// radiomessages\ship.radiomessages
	"activeCrewLimit": {
		"type": "tutorial",
		"text": "You've reached the limit of how many crew members you can bring with you. Drop some off on your ship to expand your crew further.",
		"unique": false
	},
	"crewLimit": {
		"type": "tutorial",
		"text": "Your ship can't support any more crew members. Either find a way to increase the size of your ship, or dismiss some staff through the terminal on your ship.",
		"unique": false
	},
	"gainedCrewMember": {
		"type": "tutorial",
		"text": "You've found your first crew member! Talk to me on your ship to manage crew members and monitor their status."
	},
	// radiomessages\techchallenge.radiomessages
	"techchallenge_doublejump1": {
		"type": "mission",
		"text": "To use the ^orange;Pulse Jump Tech^white; ^#71f2f6;press spacebar while in the air^white;. Doing so will give you a small upwards boost."
	},
	"techchallenge_doublejump2": {
		"type": "mission",
		"text": "Telemetry indicates that to make that jump you should ^#71f2f6;delay using ^orange;Pulse Jump^white; until you are level with the target platform's edge."
	},
	"techchallenge_dash1": {
		"type": "mission",
		"text": "This obstacle course requires the use of the ^orange;Dash Tech^white; you have been given. To use it ^#71f2f6;double tap A or D to quickly dash left or right^white;."
	},
	"techchallenge_dash2": {
		"type": "mission",
		"text": "These doors only open very briefly. Perhaps you should ^#71f2f6;position yourself close to the door^white; before ^#71f2f6;operating the switch and dashing through^white;."
	},
	"techchallenge_dash3": {
		"type": "mission",
		"text": "These doors appear to be on a ^orange;very limited timer^white;. It is laudable that you intend to persevere through such frustrations."
	},
	"techchallenge_dash4": {
		"type": "mission",
		"text": "Readings indicate these are ^orange;cryogenic blasters^white;. They are not lethal, but any contact will significantly slow your progress."
	},
	"techchallenge_morphball1": {
		"type": "mission",
		"text": "^#71f2f6;Press F to make use of the ^orange;Distortion Sphere Tech^white; to transform in and out of a compressed form."
	},
	"techchallenge_morphball2": {
		"type": "mission",
		"text": "It appears you will have to ^#71f2f6;activate your ^orange;Distortion Sphere ^#71f2f6;mid-jump^white; to get into this passageway."
	},
	// radiomessages\tutorial.radiomessages
	"full": {
		"type": "tutorial",
		"text": "I see that you are eating sufficiently! With a full stomach, your body will slowly regenerate and heal."
	},
	"hungry": {
		"type": "tutorial",
		"text": "The weakness you are feeling is likely due to hunger. You should find something to eat in order to maintain your body's functionality."
	},
	"starving": {
		"type": "tutorial",
		"text": "You are starving! It is imperative that you obtain and consume some food immediately."
	},
	"pickuplogblock": {
		"type": "tutorial",
		"text": "You have found some wood. My databanks tell me wood is a material with a great many uses. I suggest you kill additional trees and explore your crafting menu."
	},
	"pickupinventorstable": {
		"type": "tutorial",
		"text": "Did you just craft an inventor's table? I estimate your chances of survival have improved by 7.2%."
	},
	"pickupseed": {
		"type": "tutorial",
		"text": "I see that you've discovered some seeds. I suggest planting them in some tilled soil, and watering them until they grow. The tools you need can be built at a foraging table."
	},
	"pickupcampfire": {
		"type": "tutorial",
		"text": "It seems you have discovered fire. My databanks tell me you're the 714 billionth person to do so. Well done! You can use the fire to cook food!"
	},
	"pickupflag": {
		"type": "tutorial",
		"text": "I am able to reconfigure the ship's teleporter to teleport directly to the location marked by this flag. Place and interact with the flag to establish a name."
	},
	"pickupcoal": {
		"type": "tutorial",
		"text": "You discovered coal! You can turn coal into torches to light your way. The chance of fatal incidents is dramatically increased in the dark. Explore the crafting menu."
	},
	"pickupore": {
		"type": "tutorial",
		"text": "You discovered some ore. Ore can be turned into bars using a furnace, bars are useful for crafting a wide range of equipment that may increase your life expectancy."
	},
	"pickupcorefrag": {
		"type": "tutorial",
		"text": "You discovered a core fragment! These are useful objects. I estimate that you will require at least 20 of them."
	},
	"pickupplantfibre": {
		"type": "tutorial",
		"text": "You discovered some plant fibre. This can be woven into useful fabrics at a spinning wheel."
	},
	"pickupdye": {
		"type": "tutorial",
		"text": "You discovered dye. With these you can colour your attire to your liking. You can apply one to any piece of armour or clothing with a right-click."
	},
	"pickupepp": {
		"type": "tutorial",
		"text": "You obtained an Enviro Protection Pack (EPP). These specialised devices enable the user to survive in otherwise inhospitable environments. You can also enhance EPPs with augments."
	},
	"pickupaugment": {
		"type": "tutorial",
		"text": "You obtained an augment. These modules can provide a wide range of benefits. Install them to an Enviro Protection Pack (EPP) with a right-click."
	},
	"pickupcollar": {
		"type": "tutorial",
		"text": "You discovered a collar. When worn by a tamed monster, these collars can provide a wide range of benefits. You can add them to a filled capture pod with a right-click."
	},
	"pickupcapturepod": {
		"type": "tutorial",
		"text": "You obtained a capture pod. A monster can be captured in this if their health is low enough. Throw it at a monster to capture it. Captured monsters become tame."
	},
	"pickupbow": {
		"type": "tutorial",
		"text": "You obtained a bow. Overcoming a monster with one of these significantly increases your chances of getting meat and rare crafting ingredients."
	},
	"pickupmanipulatormodule": {
		"type": "tutorial",
		"text": "You've obtained a manipulator module. With enough of these you can upgrade your Matter Manipulator from the access panel on the right-hand toolbar."
	},
	"naturalcave1": {
		"type": "tutorial",
		"text": "I am detecting a variety of life signs in this mine. If you are intending to search it for core fragments, I may advise adequately arming yourself first."
	},
	"naturalcave2": {
		"type": "tutorial",
		"text": "If you are not sufficiently confident in your personal combat capabilities, an alternative solution would be to dig closer to the planet's center to find the core fragments."
	},
	"challengedoor": {
		"type": "tutorial",
		"text": "This door will transport you to a challenging room that you may attempt to traverse. I applaud your intrepid disposition."
	},
	"fuel": {
		"type": "tutorial",
		"text": "Erchius fuel for your FTL drive can be mined from moons. It should be noted that since Earth's destruction, all moons scanned have delivered strange, unpleasant and indecipherable readings."
	}
}
