{
	// radiomessages\exploration.radiomessages
	"ancientgateway": {
		"text": "Oh hey hey hey I know this one! This is like, some sort of, \"^cyan;Ancient Gateway^reset;\" It's a real shame people only figured out how to dial like, one address."
	},
	"techconsole": {
		"text": "Oh the ^blue;Tech^reset; console. for ^blue;Tech^reset;. so you can ^blue;Tech^reset; yourself out with ^blue;Tech^reset; abilities to do ^blue;Tech^reset; with."
	},
	"biomeradiation": {
		"unique": false,
		"text": "HAHAHA idiot! You're gonna get fried by radiation! Get a radiation suit or something!",
		"portraitImage": "yell.<frame>",
		"textSpeed": 70
	},
	"biomecold": {
		"unique": false,
		"text": "You are going to freeze to death.\nAnd I will simply watch.",
		"portraitImage": "talk.<frame>",
		"textSpeed": 40
	},
	"biomeheat": {
		"unique": false,
		"text": "Did you know? Organic matter is typically flammable. I just thought you should know that.",
		"portraitImage": "talk.<frame>",
		"textSpeed": 40
	},
	"biomeairless": {
		"unique": false,
		"text": "It appears that you're suffocating in the vaccum of space. Cool.",
		"portraitImage": "talk.<frame>",
		"textSpeed": 40
	},
	"erchiussickness": {
		"unique": false,
		"text": "Hey so, there's this ^purple;THING^reset; on the scope thats like, coming after you. So like, don't die without bringing me fuel. The fuel is very important.",
		"portraitImage": "yell.<frame>"
	},
	// radiomessages\intro.radiomessages
	"protectorateExitBedPester": {
		"type": "mission",
		"text": "Wake up. You need to go graduate so we can finally ditch this stupid academy."
	},
	"protectorateDormRoomTutorial": {
		"important": true,
		"type": "mission",
		"text": "If you donk this up for us and they don't give you a ^yellow;Matter Manipulator^reset; I'm going to revoke your respawning privileges."
	},
	"protectorateDormRoomPester": {
		"type": "mission",
		"text": "Hey. Hey. I want us to get moving. You see that door? Right there? Hover over it and press ^green;E^reset;\nWhatever that means."
	},
	"protectorateLoungeTutorial": {
		"important": true,
		"type": "mission",
		"text": "Honestly don't even bother to put on your uniform. Nobody cares. And we're ditching ^orange;The Protectorate^reset; as soon as you have a ^yellow;Matter Manipulator^reset;"
	},
	"protectorateStage5": {
		"type": "mission",
		"text": "Oh. A ^purple;Giant Tentacle Monster^reset; is destroying the planet from within. Fun. Lets leave as soon as possible. ^orange;They^reset; can deal with this problem right?"
	},
	"protectorateCollapsedGalleryNoMM": {
		"important": true,
		"type": "mission",
		"text": "You uh. You didn't grab the ^yellow;Matter Manipulator^reset; which is uh, the whole reason we even bothered with this academy charade."
	},
	"protectorateCollapsedGallery": {
		"important": true,
		"type": "mission",
		"text": "You know, I wonder if this is like, ^orange;their^reset; own hubris? \"Ohhoh we're ^orange;The Protectorate^reset; we're so good everyone is at peace :)\" Has anyone from ^orange;The Protectorate^reset; ever visted another planet???"
	},
	"protectorateCollapsedGalleryPester": {
		"important": true,
		"type": "mission",
		"text": "Do you know how to use that thing??? Press ^green;R^reset; to equip it and then ^green;Left-Click^reset; to dig.\nWhatever that means."
	},
	"protectorateFloodedDoor": {
		"important": true,
		"type": "mission",
		"text": "The rest of the galaxy it's a coin flip whether any settlement will welcome you with open arms, or decide you're dead where you stand. I don't think ^orange;The Protectorate^reset; knows what \"Galactic Peace\" even means."
	},
	"protectorateRooftop": {
		"important": true,
		"type": "mission",
		"text": "Like of course something is going to come along and wreck ^orange;their^reset; ONE planet, which, by the way, we might both perish on. The readings from the planet's core are uhm, lets just say they're not good!"
	},
	"protectorateDuct": {
		"important": true,
		"type": "mission",
		"text": "In fact, I think the whole planet is going to blow within the next few minutes. So. You should really get out of there. I'm legally allowed to leave if you die."
	},
	"protectorateDuctPester": {
		"type": "mission",
		"text": "Please please please semisolid plaforms are so easy, just press ^#green;S^reset; to crouch, then tap ^green;spacebar^reset;. Whatever that means."
	},
	"protectorateGetWeapon": {
		"important": true,
		"type": "mission",
		"text": "AH AH AH THERES SOME ^purple;TENTACLES^reset; GETTING CLOSE KILL ^purple;IT^reset; KILL ^purple;IT^reset; KILL ^purple;IT^reset;!",
		"portraitImage": "yell.<frame>"
	},
	"protectorateWeaponPester": {
		"type": "mission",
		"text": "PUT THE ^yellow;Broken Broadsword^reset; IN THE ^green;action bar^reset; AND THEN USE IT! Whatever that means.",
		"portraitImage": "yell.<frame>"
	},
	"protectorateTentacleBarrier": {
		"important": true,
		"type": "mission",
		"text": "GET A WEAPON YOU IDIOT THERES A ^yellow;Broken Broadsword^reset; IN THAT CHEST PLEASE!",
		"portraitImage": "yell.<frame>"
	},
	"protectorateShipPlatform": {
		"important": true,
		"type": "mission",
		"text": "TO HECK WITH PRE-FLIGHT CHECKS AND GETTING LAUNCH CLEARANCE WE NEED TO GET OUT OF HERE!",
		"portraitImage": "yell.<frame>"
	},
	// radiomessages\mech.radiomessages
	"biomeradiation_mech": {
		"unique": false,
		"text": "Seems like your mech isn't hardened against radiation? I thought these things were spaceworthy. Also the warranty is voided so...",
		"portraitImage": "talk.<frame>",
		"textSpeed": 40
	},
	"biomecold_mech": {
		"unique": false,
		"text": "Seems like your mech can't handle the freezing temperatures? I thought these things were spaceworthy. Also the warranty is voided so...",
		"portraitImage": "talk.<frame>",
		"textSpeed": 40
	},
	"biomeheat_mech": {
		"unique": false,
		"text": "Hey hey hey those mechs are like, extremely prone to overheating even when they're NOT in such an envirorment. Also the warranty is voided so...",
		"portraitImage": "yell.<frame>",
		"textSpeed": 70
	},
	"lava_mech": {
		"unique": false,
		"text": "Did you just? drop your mech in lava? That's really funny.",
		"portraitImage": "talk.<frame>",
		"textSpeed": 40
	},
	"testdrive01": {
		"type": "mission",
		"text": "Oh cool a mech! Didn't you fail the mech certification test and thats why we never got one? Hah. Not like there's any ^orange;law^reset; to stop us now.",
		"textSpeed": 70
	},
	"testdrive02": {
		"type": "mission",
		"text": "Wow, ^red;Targets^reset;. ^red;Targets^reset; that you can shoot. With your gun. ^red;Targets^reset;",
		"textSpeed": 70
	},
	"testdrive03": {
		"type": "mission",
		"text": "As much as hovering is cool, walker mechs are just, so much more intimidating. Especially when you're slowly advancing.",
		"textSpeed": 70
	},
	"testdrive04": {
		"type": "mission",
		"text": "But those things use soooo much energy, and the moment they run out they're as useless as rocks.",
		"textSpeed": 70
	},
	"testdrive05": {
		"type": "mission",
		"text": "So like, when you kill things, they drop batteries, that your mech can use. How convenient that the batteries are all galactic standard.",
		"textSpeed": 70
	},
	"testdrive06": {
		"type": "mission",
		"text": "Oh BOOOO the mech can't fit.",
		"textSpeed": 70
	},
	"testdrive07": {
		"type": "mission",
		"text": "Looks like the test is over? hm... Is this an derelict ^red;USCM^reset; hauler? Crazy that the defenses were still somewhat online. I thought ^red;they^reset; were wiped out nearly a decade ago now...",
		"textSpeed": 70
	},
	"testdrive08": {
		"type": "mission",
		"text": "Being sent to another ^red;USCM^reset; derelict? Be on the lookout, the scopes show the defenses here aren't in as poor a state as the hauler's.",
		"textSpeed": 70
	},
	"testdrive09": {
		"type": "mission",
		"text": "Another \"test course\" completed. Or maybe they they wanted you to clear out the defenses, hard to say.",
		"textSpeed": 70
	},
	"spaceencounter01": {
		"type": "generic",
		"text": "Theres some odd bio-signatures on the scopes. None of them human, seems like the ^red;USCM^reset; might have created their own demise. Good.",
		"textSpeed": 70
	},
	"spaceencounter02": {
		"type": "generic",
		"text": "Huh, a ^orange;Protectorate^reset; storage facility. Either ^orange;they^reset; were really bad at bookkeeping, or ^orange;they^reset; didn't trust me with the full records. Probably that second one.",
		"textSpeed": 70
	},
	// radiomessages\missions.radiomessages
	"lunarbase01": {
		"type": "mission",
		"text": "Plenty of life signs down there, but they're odd. Species? inconclusive. Hostile? probably. Good luck exterminating whatever ^pink;horrors^reset; they found when digging."
	},
	"lunarbase02": {
		"type": "mission",
		"text": "Breaking the system out of lockdown seems like... an excellent idea. Surely, releasing whatever plague is sealed in there upon the galaxy is worth it."
	},
	"lunarbase03": {
		"type": "mission",
		"text": "Humans just love uncovering things that can destroy their entire species. First it was the ^purple;Tentacles^reset; and now they're being mutated by ^pink;Erchius^reset;."
	},
	"lunarbase04": {
		"type": "mission",
		"text": "The ^pink;Erchius^reset; readings are getting stronger. You know, I'm just gonna, make a quick several backups of your DNA sequence."
	},
	"lunarbase06": {
		"type": "mission",
		"text": "Alright DNA backups complete. Time to find out if you're susceptible to ^pink;Erchius^reset; mutation."
	},
	"lunarbase07": {
		"type": "mission",
		"text": "What is that ^pink;THING^reset;!? ^pink;It^reset; looks ^pink;horrible^reset;! Anyway, I think you should shoot ^pink;it^reset; in the eye.",
		"portraitImage": "yell.<frame>"
	},
	"lunarbase08a": {
		"type": "mission",
		"text": "Finally. I'll be able to make FTL jumps again, took you long enough."
	},
	"floranmission101": {
		"type": "mission",
		"text": "Cool ruins, I wonder how many people have died here over the eons."
	},
	"floranmission102": {
		"type": "mission",
		"text": "There are so many life signs down there, and I bet all of them want to eat you. Yes that is including the florans."
	},
	"floranmission105": {
		"type": "mission",
		"text": "Hey hey hey, with full intent to alarm you, but theres got to be like, a really big ^red;bug^reset; around here somewhere, like a huuuuge ^red;bug^reset;."
	},
	"floranmission106": {
		"type": "mission",
		"text": "Oh it's over for you now, you found the nest and the ^red;queen^reset; is gonna be pissed."
	},
	"apexmission02": {
		"type": "mission",
		"text": "Ah yes, let's raid the capital of a ^red;Fascist Military Regime^reset; what could go wrong?"
	},
	"apexmission02a": {
		"type": "mission",
		"text": "Do you know how many guards there are? There's like, a lot, and they're going to kill you, with bullets."
	},
	"apexmission03": {
		"type": "mission",
		"text": "^red;They^reset; wired these circuits together? Thats a really bad design, good for us though."
	},
	"apexmission04": {
		"type": "mission",
		"text": "This generator is stopping the ^green;rebels^reset; above. It sure would be a shame if you disabled it."
	},
	"apexmission04a": {
		"type": "mission",
		"text": "I love watching ^red;Fascism^reset; crumble."
	},
	"apexmission05": {
		"type": "mission",
		"text": "Oh, of course they were experimenting on their own people. What ^red;regime^reset; wouldn't?"
	},
	"avianmission02": {
		"type": "mission",
		"text": "Oh. Well looks like their tech goes pretty far back. How much do you want to bet their god is actually just another AI?"
	},
	"avianmission03": {
		"type": "mission",
		"text": "Oh wow, a split path, and both of them look equally terrible. Anyway you know what they say, \"Good adventurers go left!\" or something."
	},
	"hylotlmission01": {
		"type": "mission",
		"text": "The ^blue;Grand Pagoda Library^reset;. Do you think there's any data cards with visual novels down there? Grab some for me if you find any."
	},
	"hylotlmission02": {
		"type": "mission",
		"text": "Oh cool the entire thing isn't flooded. That's a good sign. Hylotl really do build their stuff well. Also don't forget to find me a visual novel."
	},
	"hylotlmission03": {
		"type": "mission",
		"text": "Hey the scopes can't get accurate readings, but just so you know, the odds dying terribly down there are quite high."
	},
	"hylotlmission05": {
		"type": "mission",
		"text": "Against all odds, you managed to get into this room with literally nothing in it. Good job. Whatever is in that chest better have been worth it."
	},
	"tentaclemission-arrived": {
		"type": "mission",
		"text": "So like what even is your plan here? This ^purple;thing^reset; is as big as a planet, and I'm pretty sure you didn't bring any planet destroying bombs."
	},
	"tentaclemission-bottom": {
		"type": "mission",
		"text": "Scopes show there's like, a huge pit under you. Like extremely deep.\nJump into it, it'd be funny."
	},
	// radiomessages\quests.radiomessages
	"gaterepair-findGate": {
		"type": "quest",
		"text": "I think out of sheer dumb luck, the planet we drifted to has some sort of energy signature on it. Go see what it is."
	},
	"gaterepair-gateFound1": {
		"type": "quest",
		"text": "Oh there's some signal coming through the gate. Here have a listen.",
		"persistTime": 3
	},
	"gaterepair-gateFound2": {
		"type": "quest",
		"text": "Well then, looks like you're got to go to the planet's core to get some ^orange;Core Fragments^reset;. Have fun melting in lava when digging striaght down."
	},
	"gaterepair-gateOpened1": {
		"type": "quest",
		"text": "Looks like it's powered up enough to beam you through it. Oh, and now there's another message from that old lady."
	},
	// radiomessages\ship.radiomessages
	"activeCrewLimit": {
		"type": "tutorial",
		"text": "Hey hey, your party's full. No more followers than this. Why? Because I said so.",
		"unique": false
	},
	"crewLimit": {
		"type": "tutorial",
		"text": "It's too crowded up here. No more guys. Unless you fire some, no more guys up here.",
		"unique": false
	},
	"gainedCrewMember": {
		"type": "tutorial",
		"text": "Oh great, another person I'm going to have to manage making DNA backups for."
	},
	// radiomessages\techchallenge.radiomessages
	"techchallenge_doublejump1": {
		"type": "mission",
		"text": "Cool you got ^blue;Pulse Jump Tech^reset;. It's just a basic double jump. Just press ^green;spacebar^reset; in the air. Whatever that means."
	},
	"techchallenge_doublejump2": {
		"type": "mission",
		"text": "So like, do I really need to explain this? Fine, you should wait to use ^blue;Pulse Jump^white; until you're at the same level as the platform."
	},
	"techchallenge_dash1": {
		"type": "mission",
		"text": "And now for the ^blue;Dash Tech^reset; challenge. Double tap ^green;A^reset; or ^green;D^reset; to quickly ^blue;dash^reset;. Whatever that means."
	},
	"techchallenge_dash2": {
		"type": "mission",
		"text": "So like, this is a ^blue;Dash Tech^reset; challenge, so you're going to have to ^blue;Dash^reset; with your ^blue;Tech^reset; through the door."
	},
	"techchallenge_dash3": {
		"type": "mission",
		"text": "That timer is pretty bad. Just keep ^blue;Dashing^reset; with your ^blue;Tech^reset; and one day you'll complete the ^blue;Dash Tech^reset; challenge."
	},
	"techchallenge_dash4": {
		"type": "mission",
		"text": "Too bad those ^cyan;Cryogenic Blasters^reset; aren't lethal. They really would have spiced up this ^blue;Dash Tech^reset; challenge to obtain ^blue;Dash Tech^reset;."
	},
	"techchallenge_morphball1": {
		"type": "mission",
		"text": "Press ^green;F^reset; to use the ^blue;Morph Ball^reset;-I mean-^blue;Discortion Sphere Tech^reset; to compress into a ball or un-compress from a ball. Whatever that means."
	},
	"techchallenge_morphball2": {
		"type": "mission",
		"text": "Looks like you have to go ^blue;Ball^reset; while in the air. Personally I think a ^blue;Bomb Jump^reset; or a ^blue;Spring Ball^reset; would have been more convenient."
	},
	// radiomessages\tutorial.radiomessages
	"full": {
		"type": "tutorial",
		"text": "Wow was that tasty? Did that fill your stomach? Was that a satisfying meal? You must be feeling sooo good."
	},
	"hungry": {
		"type": "tutorial",
		"text": "Hey, meatbag, you need to consume nutrients."
	},
	"starving": {
		"type": "tutorial",
		"text": "You're going to starve to death. That's fine, whatever."
	},
	"pickuplogblock": {
		"type": "tutorial",
		"text": "Wow, wood. You can like, craft things with that."
	},
	"pickupinventorstable": {
		"type": "tutorial",
		"text": "Wow you made an ^cyan;Inventor's Table^reset;. So cool, I bet you can craft like, so many things with that. Probably like, way more things than with your hands."
	},
	"pickupseed": {
		"type": "tutorial",
		"text": "Woah. Seeds. That means you can do an agriculture. As long as you make tools at some sort of ^cyan;table^reset; for ^cyan;foraging^reset;, otherwise known as a ^cyan;Foraging Table^reset;."
	},
	"pickupcampfire": {
		"type": "tutorial",
		"text": "Fire! It can burn things! Like organic flesh. Organic flesh you can consume. Because you need to eat to survive."
	},
	"pickupflag": {
		"type": "tutorial",
		"text": "Cool, I can register the coordinates of flags in the teleporter. Planting a flag is also equivalent to scribbling your name on something to say its yours."
	},
	"pickupcoal": {
		"type": "tutorial",
		"text": "Fun fact. Spaceships used to be fueled by coal. Some still are! Crazy. You'll probably just use it for torches like the simple minded creature you are."
	},
	"pickupore": {
		"type": "tutorial",
		"text": "Ore. Put it in a furnace. Make ingots. Craft things. Get better equipment. Ore is always good. We love ore."
	},
	"pickupcorefrag": {
		"type": "tutorial",
		"text": "Core Fragment. You should get like, 20 of those I think. Better make it 21 just to be safe. Actually, make it 41. I think that's a good amount to get."
	},
	"pickupplantfibre": {
		"type": "tutorial",
		"text": "Plant fibre, what are you planning to do with that. Bandages to stick on your body? Clothes from a spinning wheel? You don't even know what that plant IS."
	},
	"pickupdye": {
		"type": "tutorial",
		"text": "Dye, be careful you don't die, when using your dye to dye. ^green;Right-Click^reset; it onto a dye-able thing with it to dye it. Whatever that means."
	},
	"pickupepp": {
		"type": "tutorial",
		"text": "Oh. This thing. It'll protect you from the environment I guess. I just think some sort of implant or suit would have been more convenient than lugging that around."
	},
	"pickupaugment": {
		"type": "tutorial",
		"text": "An Augment. These'll give buffs, but only one of them can fit! Install it into an EPP ^green;Right-Click^reset;. Whatever that means."
	},
	"pickupcollar": {
		"type": "tutorial",
		"text": "You found a pet collar. Shame it won't fit you... probably. Anyway these give various effects captured monsters. Use it on a capture pod with ^green;Right-Click^reset;. Whatever that means."
	},
	"pickupcapturepod": {
		"type": "tutorial",
		"text": "You got a ^orange;Pokeb^reset;-I mean-^orange;Capture Pod^reset;. You can capture monsters with it, y'know... Just don't tell anyone about these lest they go the way of ^orange;Pal-Sheres^reset;."
	},
	"pickupbow": {
		"type": "tutorial",
		"text": "Ah yes. Wooden sticks and string to make a bow. Certainly the greatest weapon a spacefaring adventurer can make. At least it's useful for collecting meat."
	},
	"pickupmanipulatormodule": {
		"type": "tutorial",
		"text": "Wow! A ^yellow;Manipulator Module^reset;! You can use them to make your ^yellow;Matter Manipulator^reset; even better. There's a menu on the right-hand toolbar. Whatever that means."
	},
	"naturalcave1": {
		"type": "tutorial",
		"text": "How convenient. It seems there might be at least 20 ^orange;Core Fragments^reset; in this mine. Which is conveniently, an amount you potentially need to find."
	},
	"naturalcave2": {
		"type": "tutorial",
		"text": "This mine is full of hostiles though. If you can't equip yourself to deal with them it might be better to just, dig to the planet core."
	},
	"challengedoor": {
		"type": "tutorial",
		"text": "Oh a \"^cyan;Challenge Door^reset;\" Those are like, pocket dimensions with stuff in them. The door is a one time use thing though so. Don't mess up. You probably will though."
	},
	"fuel": {
		"type": "tutorial",
		"text": "^pink;Erchius Fuel^reset; is needed for FTL travel. I think whatever blew earth up unleashed ^pink;horrors^reset; onto the universe, every single moon with ^pink;Erchius^reset; has had strange readings."
	}
}
